.footer {
	background: #F4F4F4;
	padding: 116px 0;
	margin-top: 140px;
	position: relative;
	@media (max-width: $viewport_tablet) {
		padding: 40px 0 22px;
	}
	.backTop {
		position: absolute;
		top: -60px;
		right: 20px;
		width: 60px;
		height: 60px;
		z-index: 2;
		cursor: pointer;
		@media (max-width: $viewport_tablet) {
			right: 0;
		}
	}
	.footerWrap {
		display: flex;
		flex-wrap: wrap;
		.footerLogo {
			width: 112px;
			text-align: right;
			@media (max-width: $viewport_tablet) {
				width: 100%;
				text-align: center;
			}
			img {
				max-width: 80px;
				@media (max-width: $viewport_tablet) {
					max-width: 62px;
				}
			}
		}
		.footerNav {
			width: calc(100% - 112px);
			padding-left: 80px;
			@media (max-width: $viewport_tablet) {
				width: 100%;
				padding: 20px 30px 0;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				@media (max-width: $viewport_tablet) {
					margin-left: -12px;
				}
				li {
					/*padding-right: 64px;*/
					padding-right: 6%;
					margin-top: 16px;
					@media (max-width: 1024px) {
						padding-right: 5%;
					}
					@media (max-width: $viewport_tablet) {
						width: 50%;
						padding: 0 0 0 12px;
					}
					&:last-child {
						padding-right: 0;
					}
					a {
						color: #374349;
						font-size: 18px;
						font-weight: 500;
						display: inline-flex;
						@media (max-width: $viewport_tablet) {
							font-size: 14px;
						}
					}
					&.footerShare {
						width: 50%;
						a {
							margin-right: 30px;
							&:last-child {
								margin-right: 0;
							}
						}
					}
					&.footerCopyright {
						width: 50%;
						font-size: 16px;
						text-align: right;
						font-weight: 300;
						@media (max-width: $viewport_tablet) {
							width: 100%;
							font-size: 14px;
							text-align: center;
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
}