.pagination {
	display: block;
	margin-top: 110px;
	@media (max-width: $viewport_mobile) {
		margin-top: 50px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			padding: 0 2px;
			&.active {
				a {
					background: #EDFDFF;
				}
			}
			&.next {
				.svg {
					path {
						fill: #000;
					}
				}
			}
			a {
				color: #000;
				font-size: 20px;
				height: 44px;
				min-width: 44px;
				border-radius: 22px;
				padding: 0 4px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}